* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #DC1A28;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop) + 20px);
  display: flex;
  flex-direction: column;
}

.slick-next {
  height: 100% !important;
  right: 0 !important;
  width: 50px !important;
  transition: background .5s;
}

.slick-next:hover {
  background: rgba(211, 211, 211, .3);
}

.slick-prev {
  height: 100% !important;
  left: 0 !important;
  width: 50px !important;
  transition: background .5s;
}

.slick-prev:hover {
  background: rgba(211, 211, 211, .3);
}

